@model eRecruitment.Sita.Web.Models.CandidateEducationModel
@{
    Layout = null;
}
<h3>Are You Sure You Want To Delete This?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.institutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.institutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qualificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qualificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualificationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certificateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificateNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>
    </dl>

   @using (Html.BeginForm())
   {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-warning" onclick="getDeleteEduFunc(@Model.qualificationID)" type="button" data-toggle="tooltip" data-placement="top"> Confirm</button> |
        <button class="btn btn-primary" onclick="getDeleteEFunc(@Model.qualificationID)" type="button" data-toggle="tooltip" data-placement="top"> Back to List</button>
    </div>
   }
</div>
<script>
    function getDeleteEFunc(data) {
        $("#getEduTable").load('@(Url.Action("getEducation", "CareerCenter", null, Request.Url.Scheme))?id=' + data);
    }

    function getDeleteEduFunc(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteEducation", "CareerCenter")'+ '?id=' + id,
            contentType: false,
            processData: false,
            data: { "id": id },
            success: function (data) {
                 $("#getEduTable").load('@(Url.Action("getEducation", "CareerCenter"))');
                },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                $("#divDetailsStatus").text(err);
            }
        });

        function OnSuccessDetailMethod(data) {
            $("#divDetailsStatus").text("Processed the data Successfully!");
            closemodal();
            $("#getEduTable").load('@(Url.Action("getEducation", "CareerCenter", null, Request.Url.Scheme))?id=' + data);
            isError = false;


        }

    }
</script>

