@model IEnumerable<eRecruitment.Sita.Web.Models.EducationModel>

@{
    Layout = null;
    //AjaxOptions detail = new AjaxOptions
    //{
    //    //Confirm = "Save these changes?",
    //    OnBegin = "OnBeginDetailMethodX",
    //    OnFailure = "OnFailtureDetailMethodX",
    //    OnSuccess = "OnSuccessDetailMethodX",
    //    OnComplete = "OnCompleteDetailMethodX"
    //};
}
<p>
    <input type="button" value="Create New" class="btn btn-primary" onclick="getAddFunc()" />
</p>
<div class="box-body">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
  
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Certificate Number</th>
                        <th>Institution Name</th>
                        <th>Qualification Name</th>
                        <th>Qualification Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@ViewBag.Education != null)
                    {
                        foreach (var item in ViewBag.Education)
                        {
                            <tr>
                                <td>@item.certificateNumber</td>
                                <td>@item.institutionName</td>
                                <td>@item.qualificationName</td>
                                <td>@item.QualificationTypeName</td>
                                <td>@item.startDate</td>
                                <td>@item.endDate</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Action</button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                @*<a href="#myModalEducation" data-toggle="modal" id="@item.qualificationID" data-id="@item.qualificationID" onclick="return GetQualificationID(@item.qualificationID)" data-target="#myModalEducation"><span class="fa fa-pencil" style="color:green"></span>Edit</a>*@
                                                <a href="" onclick="getEditFunc(@item.qualificationID)"><span class="fa fa-pencil" style="color:green"></span>Edit</a>
                                            </li>
                                            <li>
                                                <a href="" onclick="getDeleteFunc(@item.qualificationID)"><span class="fa fa-trash red" style="color:red"></span>Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>



<script type="text/javascript">
    function getAddFunc() {
        $("#getEduTable").load('@(Url.Action("AddEducation", "CareerCenter"))');
    }
    function getDeleteFunc(data) {
        $("#getEduTable").load('@(Url.Action("EducationDelete", "CareerCenter", null, Request.Url.Scheme))?id=' + data);
    }

    function getEditFunc(data) {
        $("#getEduTable").load('@(Url.Action("EditEducation", "CareerCenter", null, Request.Url.Scheme))?id=' + data);
    }

    @*var isError = false;
    function OnBeginDetailMethod() {
        $("#divDetailsStatus").text("Loading ....");
    }

    function OnFailtureDetailMethod(error) {
        $("#errormessages").text(error.responseText);
        $("#divDetailsStatus").text("There is an Error Please Check Your Code");
        isError = true;
    }

    function OnSuccessDetailMethod(data) {
        $("#divDetailsStatus").text("Processed the data Successfully!");
        closemodal();
        $("#getEduTable").load('@(Url.Action("getEducation", "CareerCenter", null, Request.Url.Scheme))?id=' + data);
        isError = false;
    }*@

    function closemodal() {
        var elements = document.getElementsByClassName('modal-backdrop in');
        while (elements.length > 0) {
            elements[0].classList.remove('modal-backdrop');
        }
    }
    //function OnCompleteDetailMethod(data, status) {
    //    if (!isError) {
    //        $("#divDetailsStatus").text("Request status: " + status);
    //    }
    //}
</script>

