@{
    ViewBag.Title = "Index";
}
@using Microsoft.AspNet.Identity
<section class="content-header">
    <h1>
        &nbsp;
        @*Vacancies List*@
        @*My Job Application*@
        @*<small>&nbsp;</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Jobs"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Candidate/MyProfile">My Career Center</a></li>
        <li class="active">My Job Application</li>
    </ol>
</section><br />
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        
        <div class="box-header with-border">
            <h3 class="box-title">My Job Application</h3>
            @*<h3 class="box-title"><input type="button" class="btn btn-primary btn-sm" value="Add New Vacancy" /></h3>*@
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" disabled class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="box">
                @*<div class="box-header">
                        <h3 class="box-title">Vacancies List</h3>
                    </div>*@
                <!-- /.box-header -->
                @*@{
                        if (TempData["message"] != null)
                        {
                            <script type="text/javascript">

                                alert(@Html.Raw(Json.Encode(TempData["message"])));

                            </script>
                        }
                    }*@


                <div class="box-body">
                    <table id="example9" class="table table-bordered table-striped" data-orderable>
                        <thead>
                            <tr>

                                <th>Organisation Name</th>
                                <th>Vacancy Name</th>
                                <th>Application Date</th>
                                <th>Reference Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (@ViewBag.MyApplications != null)
                            {
                                foreach (var item in ViewBag.MyApplications)
                                {
                                    <tr>
                                        <td>@item.OrganisationName</td>
                                        <td>@item.VacancyName</td>
                                        <td>@item.ApplicationDate</td>
                                        <td>@item.Refno</td>
                                        <td>
                                            <a href="@Url.Action("DownloadVacancyAd", "Vacancy", new { id = @item.VacancyID })" disabled><span class="fa fa-download success" style="color:green"></span> Download Vacancy Advert</a>
                                        </td>
                                    </tr>


                                }
                            }


                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Reference #</th>
                                    <th>Vacancy Name</th>
                                    <th>Job Title</th>
                                    <th>Employment Type</th>
                                    <th>Status</th>
                                    <th>Closing Date</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            @*Footer*@
            &nbsp;
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>

<!-- /.content -->
<script>
    $(document).ready(function () {
        $('#mask').fadeIn(500);
        $('#mask').fadeTo("slow", 0.9);
        $('.window .close').click(function (e) {
            e.preventDefault();
            $('#mask').hide();
            $('.window').hide();
        });
        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();
        });

    });
</script>

