<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Control panel</small>*@
        <small>&nbsp;</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.TotalVacancy</h3>
                    <p>Total Vacancies</p>
                </div>
                <div class="icon">
                    <i class="ion ion-navicon-round"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    @*<h3>53<sup style="font-size: 20px">%</sup></h3>*@
                    <h3>@ViewBag.TotalApproved</h3>
                    <p>Approved</p>
                </div>
                <div class="icon">
                    <i class="ion ion-paper-airplane"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.TotalRejected</h3>
                    <p>Rejected</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-cancel"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.TotalWithdrawn</h3>
                    <p>Withdrawn</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-download"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <div class="col-md-12">
            <img src="@Url.Action("CreateBarMonth")" alt="" />
        </div>
    </div>
   

    <!-- /.row (main row) -->
</section>
<!-- /.content -->

<div class="row">
    @*<div class="col-md-6">
        <div class="box box-success">
            <img src="@Url.Action("CreatePie")" alt="Bar Chart using MVC" />
        </div>
    </div>*@
    @*<div class="col-md-6">
        <div class="box box-primary">
            <img src="@Url.Action("CreateBar")" alt="Bar Chart using MVC" />
        </div>
    </div>*@
    @*<div class="col-md-6">
        <div class="box box-success">
            <img src="@Url.Action("CreatePieGender")" alt="Pie Chart using MVC" />
        </div>
    </div>*@
    @*<div class="col-md-6">
        <div class="box box-primary">
            <img src="@Url.Action("CreateLine")" alt="Pie Chart using MVC" />
        </div>
    </div>*@
</div>